

<div class="main_component div-flex">
    <mat-card class="div-flex">
        <mat-card-header>
            <mat-card-subtitle class="green-title">Best Gyógyszertár</mat-card-subtitle>
            <p>
                Üdvözöljük a Best Gyógyszertár weboldalán! Nálunk mindent megtalál, amire a gyógyulásához szüksége lehet. Kérjük, tekintse meg széles választékunkat, és ha kérdése van, ne habozzon kapcsolatba lépni velünk.
            </p>
        </mat-card-header>

        <mat-card-content>
            <mat-card-title class="green-title">Elérhetőségek</mat-card-title>
            <p><mat-icon>person</mat-icon> Szűcs Ákos</p>
            <p><mat-icon>call</mat-icon> +36301992269</p>
            <p><mat-icon>email</mat-icon> szucsakos1999@gmail.com</p>
            <p><mat-icon>discord</mat-icon> Szűcs Ákos#2449</p>
            <p><mat-icon>location_on</mat-icon>Szeged</p>
        </mat-card-content>
    </mat-card>
</div>